<% include ../partials/header %>
  <h1>Edit Profile Page</h1>
  <form class="form-group" action="/profile/abc?_method=PUT" method="POST">
    <button type="submit" name="button">submit</button>
  </form>
  <a href="/campgrounds">back</a>
<% include ../partials/footer %>
