
<% include ../partials/header %>
  <h1>Create New Account</h1>
  <form class="form-group" action="/profile" method="POST">
    <button class="btn btn-default" type="submit" name="button">Add New User</button>
  </form>
  <a href="/">back</a>
<% include ../partials/footer %>
