<% include ../partials/header %>
  <h1>Show single Profile</h1>
  <a class="btn btn-default" href="/profile/abc/edit">edit profile</a>
  <form class="" action="/profile/abc?_method=DELETE" method="post">
    <button class="btn btn-default" type="submit" name="button">Delete Profile</button>
  </form>

<% include ../partials/footer %>
