
<% if (errMsg.length>0) { %>
    <div class="alert alert-danger">
      <%=errMsg%>
    </div>
<%  } %>

<% if (successMsg.length>0) { %>
  <div class="alert alert-success">
    <%=successMsg%>
  </div>
  <%  } %>
