<% include ../partials/header %>
  <h1>Create Comment</h1>
  <form class="form-group" action="/campgrounds/abc/comments" method="POST">
    <button type="submit" name="button">Add Comment</button>
  </form>
  <a href="/campgrounds">back</a>
<% include ../partials/footer %>
