<% include ../partials/header %>
  <h1>Campgrounds Index</h1>
  <a href="/campgrounds/new">Add New Camp</a>

  <% camps.forEach(camp=>{ %>
    <h4>Name: <%=camp.name%></h4>
    <a href="/campgrounds/<%=camp._id %>">View Camp</a>

<%  }) %>
<% include ../partials/footer %>
