<% include ../partials/header %>
  <div class="row">
    <div class="jumbotron">
      <h1><span class="glyphicon glyphicon-tent"></span> <%include ../partials/logo %> Campgrounds</h1>
      <a class="btn btn-lg btn-success" href="/campgrounds/new"><span class="glyphicon glyphicon-plus"></span> Add New Camp</a>

    </div>
  </div>

  <div class="index-grid row text-center">
    <% camps.forEach(camp=>{ %>
      <div class="camp-show col-md-4 col-sm-6">
        <div class="thumbnail">
          <img class="img-responsive" src="<%=camp.img%>" alt="">
        </div>
        <div class="caption">
          <h4><%=camp.name%></h4>
          <a class="btn btn-md btn-warning" href="/campgrounds/<%=camp._id %>"><span class="glyphicon glyphicon-fire"></span> View Camp</a>
        </div>
      </div>
    <%  }) %>
  </div>

<% include ../partials/footer %>
