<% include ../partials/header %>
  <h1>Create New Campground Page</h1>
  <form class="form-group" action="/campgrounds" method="POST">
    <button type="submit" name="button">submit</button>
  </form>
  <a href="/campgrounds">back</a>
<% include ../partials/footer %>
