<% include ../partials/header %>
  <h1>Show single campground</h1>
  <a href="/campgrounds/abc/edit">edit Camp</a>
  <form class="" action="/campgrounds/abc?_method=DELETE" method="post">
    <button type="submit" name="button">Delete</button>
  </form>
<% include ../partials/footer %>
