<% include ../partials/header %>
  <h1>Show single campground</h1>

  <a class="btn btn-default" href="/campgrounds/abc/edit">edit Camp</a>
    <form class="" action="/campgrounds/abc>?_method=DELETE" method="post">
      <button class="btn btn-default" type="submit" name="button">Delete</button>
    </form>

  <h2>Comments</h2>
  <a class="btn btn-default" href="/campgrounds/abc/comments/new">Add New Comment</a>
  <a class="btn btn-default" href="/campgrounds/abc/comments/abcd/edit">Edit Comment</a>
  <form class="" action="/campgrounds/abc/comments/abcd?_method=DELETE" method="post">
    <button class="btn btn-default" type="submit" name="button">Delete Comment</button>
  </form>
<% include ../partials/footer %>
