html,
body {
  font-size: 12px;
}

h1,
h2,
h3 {
  font-family: "Chicle", cursive;
  color: rgb(23, 94, 44);
}

h4 {
  font-weight: bolder;
}

p {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 1.3rem;
}

.btn-warning {
  background-color: rgb(249, 130, 27);
  border: 1px red solid;
}

/* navigation */
.navbar-default {
  font-size: 1.3rem;
  background-color: rgba(109, 174, 129, 0.5);
  padding: 1rem;
}

.navbar-default .navbar-brand {
  font-size: 1.6rem;
  margin-right: 1rem;
  color: rgb(249, 130, 27);
}

a.navbar-brand {
  font-family: "Chicle", cursive;
}

/* forms style */
.all-forms h1 {
  text-align: center;
}

.form-wrapper {
  margin: 1.5rem auto;
  max-width: 40%;
}

.form-wrapper label {
  font-family: "Source Code Pro", monospace;
  font-size: 1rem;
}

.form-wrapper input {
  font-size: 1.4rem;
  padding: 1rem;
}

.form-wrapper .btn {
  font-size: 1.5rem;
}

/* showing profile */
.show-profile li {
  font-size: 1.3rem;
  font-family: "Source Code Pro", monospace;
}

/* Campground index grid layout */

.jumbotron h1 {
  color: rgb(23, 94, 44);
  font-size: 5rem;
}

.index-grid {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  padding: 0;
}

.thumbnail img {
  width: 100%;
}

.camp-show {
  margin-bottom: 1rem;
}

.camp-show .thumbnail img {
  height: 18em;
  border: 1px solid green;
}

//campground single
.camp-show-single {
  margin-bottom: 1rem;
}

.camp-show-single .thumbnail {
  max-width: 600px;
}

.camp-show-single .thumbnail img {
  /* max-width: 600px; */
  height: 25em;
}

.camp-show-single strong a:visited,
.camp-show-single strong a:hover {
  color: rgb(23, 94, 44);
  font-size: 1em;
}
.camp-show-single strong a {
  color: rgb(68, 195, 22);
  text-decoration: underline;
}

.camp-show-single em {
  font-size: 1.5rem;
}

/* Google Maps */
#map {
  background-color: green;
  height: 400px;
  width: 100%;
}
